@include lg {
  .filter {
    padding-top: 77rem;
    
    &__icon {
      width: 24rem;
      height: 24rem;
      margin-top: -7rem;
      margin-right: 14rem;
    }
    
    &__subcategories {
      padding-left: 24rem;
      gap: 18rem;
      
      & > *:last-child {
        margin-bottom: 10rem;
      }
    }
  }
}

@include md {
  .filter {
    margin-left: 20rem;
  }
}

@include sm {
  .filter {
    position: absolute;
    z-index: 11;
    top: -1rem;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 240rem;
    min-height: 100.5vh;
    margin-left: 0;
    padding: 20rem 27rem 50rem 31rem;
    transition: transform 1s ease-in-out;
    background-color: var(--color-black);
    gap: 19rem;
    grid-column: auto;
    grid-row: auto;
    
    &.hide {
      transform: translateX(100%);
    }
    
    &.open {
      transform: translateX(0);
    }
    
    &__close {
      display: flex;
      justify-content: flex-end;
      
      .button_close {
        width: 28rem;
        height: 28rem;
        margin-right: -7rem;
        padding: 0;
        background-color: transparent;
      }
      
      .button__icon {
        stroke: var(--color-white);
      }
    }
    
    &__list {
      gap: 22rem;
    }
    
    &__subcategories {
      padding-left: 17rem;
      gap: 22rem;
      
      & > *:first-child {
        padding-top: 21rem;
      }
      
      & > *:last-child {
        margin-bottom: 9rem;
      }
    }
    
    &__category {
      font-size: 20rem;
      color: var(--color-white);
    }
    
    &__icon {
      margin-top: -5rem;
      stroke: var(--color-white);
      fill: var(--color-white);
    }
  }
}