.search-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding-top: 32rem;
  transition: var(--transition);
  background-color: var(--color-transparent-white);
  backdrop-filter: blur(19.632394790649414rem);
  
  &.open {
    visibility: visible;
    opacity: 1;
    
    .search-modal__input-controls {
      transform: translate(0, 0);
    }
  }
  
  &.hide {
    visibility: hidden;
    opacity: 0;
    
    .search-modal__input-controls {
      transform: translate(0, -200rem);
    }
  }
  
  &__container {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 930rem;
    gap: 81rem;
  }
  
  &__input-controls {
    justify-content: center;
    width: 100%;
    transition: var(--transition);
    gap: 8rem;
  }
  
  &__input-container {
    width: 100%;
  }
  
  .search-field {
    &__input {
      width: 100%;
    }
    
    &__button {
      .button_yellow {
        padding: 12rem 17rem 12rem 17rem;
      }
    }
  }
}

.search-results {
  overflow: hidden;
  align-items: flex-start;
  width: 100%;
  height: 60%;
  gap: 53rem;
  
  &__list {
    overflow-y: auto;
    align-items: flex-start;
    width: 100%;
    // max-height: 207rem;
    // height:50%;
    padding-right: 10rem;
    gap: 20rem;
    
    &.show-scrollbar {
      overflow-y: scroll;
      padding: 0;
    }
    
    &::-webkit-scrollbar {
      width: 12rem;
    }
    
    &::-webkit-scrollbar-track {
      background-color: var(--color-transparent-white);
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 5rem;
      background-color: var(--color-silver);
    }
  }
  
  &__item {
    cursor: pointer;
    transition: var(--transition);
    
    &.selected {
      color: var(--color-yellow);
    }
    
    &:hover {
      color: var(--color-yellow);
    }
  }
}

.search-not-found {
  &__subtitle {
    align-items: flex-start;
  }
}
