@include lg {
  .about-banner {
    &__container {
      padding: 218rem 0 10rem;
    }

    &__img {
      margin-top: -141rem;
    }
  }
}

@include md {
  .about-banner {
    &__container {
      padding: 79rem 0 0;
    }

    &__img {
      margin-top: -65rem;
    }
  }
}

@include sm {
  .about-banner {
    &__headline {
      font-size: 90rem;
      text-align: center;
      line-height: 94%;

    }

    &__container {
      padding: 41rem 0 0;
    }

    &__img {
      margin-top: -46rem;
    }
  }
}