@include lg {
  .banner {
    &__slogan {
      padding-bottom: 80rem;
      background-position: top -157rem right 63rem;
      background-size: 551rem 551rem;
      gap: 132rem;

      .slogan__title {
        gap: 0 30.5rem;
      }

      .slogan__bottom {
        .bottom__text {
          max-width: 253rem;
        }
      }
    }

    &__slider {
      background-position: bottom 15rem left;
      background-size: 874rem 874rem;

      .slider {
        width: 816rem;
        height: 816rem;
        margin-left: 24rem;

        &__slide {
          max-width: 816rem;
          height: 816rem;
          padding: 0;
        }

        &__image {
          width: 816rem;
        }
      }

      .progress__wrapper {
        margin-right: 36rem;
        padding-bottom: 76rem;
      }
    }
  }
}

@include md {
  .banner {
    height: fit-content;
    min-height: 100vh;

    &__container {
      flex-direction: column;
    }

    &__slogan,
    &__slider {
      width: 100%;
    }

    &__slogan {
      padding-top: 130rem;
      padding-bottom: 10rem;
      background-image: none;
      gap: 30rem;
    }

    &__slider {
      padding-top: 60rem;
      justify-content: center;
      background-position: bottom 12rem center;
      position: relative;
      min-height: 672rem;

      .progress {
        &__container {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

@include sm {
  .banner {
    padding: 0;

    &__container {
      flex-direction: column;
      gap: 20rem
    }

    &__slogan,
    &__slider {
      width: 100%;
    }

    &__slogan {
      padding: 134rem 10rem 0;
      gap: 25rem;

      .slogan {
        &__bottom {
          .bottom__text {
            padding-top: 0;
          }
        }

        &__title {
          gap: 0 12rem;

          div {
            margin-bottom: -9rem;
            padding-bottom: 9rem;
          }
        }
      }
    }

    &__slider {
      padding-top: 14rem;
      justify-content: center;
      background-position: top center;
      position: relative;
      background-size: 340rem auto;
      min-height: 374rem;

      .slider {
        width: 360rem;
        height: 360rem;

        &__slide {
          min-width: 100%;
          max-width: 100%;
          height: 360rem;
          padding-left: 0rem;
        }

        &__image {
          width: 360rem;
        }
      }

      .progress {
        &__container {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 2;
          display: none;
        }

        &__wrapper {
          padding-bottom: 7rem;
          margin-right: 7rem;
          width: 54rem;
        }
      }
    }
  }
}