:root {
  --color-white: #fff;
  --color-transparent-white: rgba(255, 255, 255, 0.9);
  --color-black: #000000;
  --color-yellow: #F5A800;
  --color-silver: #E3E3E3;
  --color-lightgray: #BABABA;
  --color-gray: #757575;
  --color-darkgray: #2D2E2C;
  --color-error: #E42724;
  --transition: all .3s;
}